body {
   font-family: 'IBM Plex Serif', serif;
}

/*****Header*****/

.logo-link{
    padding: 0px;
    position: relative;
    width: 74px;
}

.logo-link img {
    width: 200px;
    height : 100%;
    padding-left: 25px;
}

.navbar-header .logo-link{
    padding: 0px;
}

.navbar-default .navbar-nav {
    margin-right: 5px;
}

.navbar-default .navbar-nav li a {
    font-size: 18px;
    
}

.navbar-default .navbar-nav > li > a .is-active {
    color: #000;
}
 
/***** Home Page *****/



#mainPic {
    width: 180px;
}

.embed-responsive{
    height: 90vh;
    margin-top: 50px;
}

.capital {
    font-size: 32px;
}


.info p {
    font-size: 20px;
}


/***** Values Page *****/

.big {
    font-size: 32px;
}

.top-space {
    margin-top: 60px;
}

.top-spaceImg {
   margin-top: 100px; 
}

.top-space p {
    font-size: 20px;
}

.top-space img {
    width: 250px;
    
}
.jumbotron {
    margin-bottom: 0;
}

.picPadding {
    padding: 15px 0;
}

.textPadding {
    padding-top: 20px; 
}



/***** Partners page *****/

.small p {
    font-size: 20px;
}

.extraSmall p {
    font-size: 18px;
}

.space {
    padding-top: 40px;
}

.bgimagePartner {
  width:100%;
  height:80vh;
  background: url('../images/contact.jpg') no-repeat left top fixed;
  background-size:cover;
  margin-top: 50px;
}


.bgimagePartner h1 {
  font-size: 50px;
  color:white;
  text-shadow:2px 2px #333;
  height: 80vh;
  display: flex;
  justify-content:center;
  align-items: center;
  
}

/***** Professionals page *****/


.bgimageProfessionals {
  width:100%;
  height:80vh;
  background: url('../images/professional.jpg') no-repeat left top fixed;
  background-size:cover;
  margin-top: 50px;
}



.bgimageProfessionals h1 {
  font-size: 50px;
  color:white;
  text-shadow:2px 2px #333;
  height: 80vh;
  display: flex;
  justify-content:center;
  align-items: center;
  
}

.fontSize p {
    font-size: 20px;
}



/*****footer*****/

footer {
    padding: 20px;
    margin-top: 0px;
    color:black;
    background-color: #F5F5F5; 
    text-align: center;
    width: 100%;
}


/*****Mediaqueries*****/


@media (max-width: 992px) {
    
    .text {
        padding: 0 10px;
    }
    .navbar-default .navbar-nav {
        margin-right: 0px;
    }
    .top-space img {
        width: 200px;
    }
    .top-spaceImg {
        margin-top: 80px; 
    }
    .navbar-default .navbar-nav li a {
        font-size: 13px;
        margin-right: 0px;
    }
}





@media (max-width: 1024px) {
    
    .bgimagePartner {
     background: url('../images/contact.jpg') no-repeat center center fixed; 
     background-size: cover;
    }
    
    .bgimageProfessionals {
     background: url('../images/professional.jpg') no-repeat center center fixed; 
     background-size: cover;
    }
    
    
}